.btn-dark {
    color: #fff;
    background-color:#654321;
    border-color: #343a40;
}
.btn-unc {
    color: #fff;
    background-color:#4B9CD3;
    border-color: #343a40;
}
.btn-mca {
    color: #fff;
    background-color:#5cbdea;
    border-color: #343a40;
}
