body{
  background-color: gray;
}
.btn-travis {
    color: #fff;
    background-color:#654321;
    border-color: #416ac0;
    margin: center;
}
.btn-unc {
    color: #fff;
    background-color:#4B9CD3;
    border-color: #416ac0;
    margin: auto;
}
.btn-mca {
    color: #fff;
    background-color:#5cbdea;
    border-color: #87b1ed;
    margin: auto;
}
.carousel-inner img {
  margin: auto;
}
.prev, .next {
  color: red;
}
